* {box-sizing: border-box;}
.clear{
	clear: both;
}
.clear:after{
	clear: both;
	content: "";
	width: 100%;
	position: relative;
	display: table;}

.container{max-width: 1170px;  margin: 0 auto;} 

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
body { margin: 0px;
	font-family: 'Gloock', serif;}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: 0.5s;
}
.sticky .header {
				margin-top: 0px;
				background: rgba(0, 0, 0, 0.5); 
				padding: 0px 0px;

}
.sticky .header .holderhead .logo {
	width: 60px;
}
.sticky .header .menu1 ul li a {
	color: #fff;
}
.sticky .header .menu1 ul li  {
	padding: 3px 18px;
}

.header .holderhead {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
} 
.header .holderhead .logo {
	transition: 0.5s;
	width: 100px;
}
 .header .holderhead .logo img{
	transition: 0.5s;
	width: 100%;
}
.header .menu1 { width: 60%; }
.header .menu1 ul {
	margin: 0px;
	padding: 0px;
}
.header .menu1 ul li {
	display: inline-block;
	margin: 0px 15px;
	text-align: center;
	background: transparent;
	transition: 0.5s;
	padding: 15px 20px;
}
.header .menu1 ul li:hover {
	background: #85c226;
}
.header .menu1 ul li a {
	color: black;
	display: block;
	text-decoration: none;
	font-size: 18px;
	transition: 0.5s;
}
.header .menu1 ul li:hover a { 
	color: #fff;
}
.slider .banner {
	width: 100%;
	position: relative;
	line-height: 0px;
}
.slider .banner:before {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: "";
	background: rgba(0, 0, 0, 0.6);
}
.slider .banner img{
	width: 100%;
	object-fit: cover;
}
.slider .banner .bcontent {
	position: absolute;
	width: 47%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
}
.slider .banner .bcontent h1 {
	color: #fff;
    margin: 0px;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 35px;
}
.slider .banner .bcontent span {
	margin: 0px;
    display: inline-block;
    color: #85c226;
    font-size: 50px;
    margin-left: 15px;	
}
.slider .banner .bcontent p {
	margin: 0px;
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
    line-height: 25px;
}
.slider .banner .bcontent .service {
	padding: 10px 21px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #85c226;
    transition: 0.5s;
    border: 2px solid transparent;	
}
.slider .banner .bcontent .service:hover {
	background: #fff;
	color: #85c226; 
	border: 2px solid #85c226;
}
.formbox {
	background: url(../images/formbg.webp) no-repeat 0 0;
	background-size: cover;
	padding: 30px 0px;
}
.formbox .formholder {
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.formbox .formholder form input {
	padding: 20px 40px;
    border-radius: 7px;
    border: none;
}

.formbox .formholder .submit form input {
	background: black;
	color: #fff;
	font-size: 15px;
	border: none;
	transition: 0.5s;
}
.formbox .formholder .submit form input:hover {
	color: black;
	background: #fff;
}
.aboutpart {
	padding: 50px 0px;
}
.aboutpart h2 {
	margin: 0px;
    font-size: 50px;
    margin-bottom: 20px;
}
.aboutpart span {
	color: #a09d9d;
}
.aboutpart .aboutholder {
	display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
.aboutpart .aboutholder .text {
	width: 48%;
}
.aboutpart .aboutholder .text h2 {
	margin: 0px;
    font-size: 38px;
    margin-bottom: 20px;
    color: #85c226;
}
.aboutpart .aboutholder .text p {
	margin: 0px;
    font-size: 20px;
    line-height: 28px;
    color: #505050;
}
.aboutpart .aboutholder .video {
	background: #a09d9d;
	width: 45%;
    height: 400px;
} 
.aboutpart .aboutholder .video img {
    width: 100%;
    height: 100%;
}
.whypart {
	padding: 50px 0px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.whypart h2{
	font-size: 50px;
	color: black;
	margin-right: 10px;
	display: inline-block;
}
.whypart span{
	font-size: 50px;
	font-weight: bold;
	color: #85c226;
}
.whypart .whyholder {
	display: flex;
    justify-content: space-between;
    width: 100%;
}
.whypart .whyholder .whybox{
    display: inline-block;
    text-align: center;
    width: 30%;
}
.whypart .whyholder .whybox:hover img {
	transform: rotateY(180deg);
}
.whypart .whyholder .whybox img {
	width: 80px;
    margin-bottom: 20px;
    transform: rotateY(0deg); 
	transition: all 0.4s; 
}
.whypart .whyholder .whybox h3 {
	font-size: 25px;
	margin: 0px;
	color: #85c226;
	margin-bottom: 10px;
	transform: scale(1);
	transition: 0.5s;
}
.whypart .whyholder .whybox:hover h3 {
	transform: scale(1.2);
}
.whypart .whyholder .whybox p {
	margin: 0px;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 25px;
    transition: 0.5s;
}
.whypart .whyholder .whybox:hover p {
	color: #85c226;
}
.whypart .whyholder .whybox .text a {
	display: block;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: 0.5s;
}
.whypart .whyholder .whybox:hover a {
	color:  #85c226;
}
.gallery {
    padding: 30px 0px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.gallery h2{
    margin: 0px;
    display: inherit;
    font-size: 50px;
    margin-right: 10px;	
}
.gallery span{
	font-size: 50px;
    font-weight: bold;
    color: #85c226;	
}
.gallery #alleryholder {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 30px;
}
.gallery #galleryholder .item {
	margin: 0px 10px;
	width: 20%;
	display: inline-block;
	max-height: 50px;

}
.gallery #galleryholder .item img {
	width: 100%;
	height: 100%;
}

.course {
	width: 100%;
    display: inline-block;
    text-align: center;
    padding: 70px 0px
}
.course  h2{
	font-size: 50px;
	color: black;
	margin-right: 10px;
	display: inline-block;
	margin: 0px;
	margin-bottom: 50px;
}
.course span{
	font-size: 50px;
	font-weight: bold;
	color: #85c226;
}
.course .courseholder {
	display: flex;
    justify-content: space-around;
}
.course .courseholder .cbox {
	text-align: center;
	width: 38%;
	padding: 0px 13px;
}
.course .courseholder .cbox:hover p {
	color: blue;
}
.course .courseholder .cbox:hover h3 {
	color: #85c226;
	font-size: 22px;
}
.course .courseholder .cbox img {
	width: 285px;
	max-height: 200px;
	margin-bottom: 15px;
}
.course .courseholder .cbox h3 {
	margin: 0px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
    color: black;
    transition: 0.5s;
}
.course .courseholder .cbox p {
	margin: 0px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
    color: green;
    transition: 0.5s;
}
.teachers {
	width: 100%;
    display: inline-block;
    text-align: center;
    padding: 70px 0px
}
.teachers  h2{
	font-size: 50px;
	color: black;
	margin-right: 10px;
	display: inline-block;
	margin: 0px;
	margin-bottom: 50px;
}
.teachers span{
	font-size: 50px;
	font-weight: bold;
	color: #85c226;
}
.teachers .teacherholder {
	display: flex;
	justify-content: space-around;
}
.teachers .teacherholder .teacherbox {
	width: 25%;
	position: relative;
	overflow: hidden;
	border: 2px solid #85c226;
	padding: 10px;
}
.teachers .teacherholder .teacherbox img {
	width: 100%;
}
.teachers .teacherholder .teacherbox:hover .info {
	bottom: 0;
}
.teachers .teacherholder .teacherbox .info{
	background: #85c226;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -52px;
    transition: 0.5s;
}
.teachers .teacherholder .teacherbox .info h3{
	margin: 0px;
    font-size: 25px;
}
.teachers .teacherholder .teacherbox .info span{
	font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.teachers .teacherholder .teacherbox .sub{
	background: #85c226;
    position: absolute;
    width: 68%;
    right: -200px;
    top: 0;
    padding: 5px 0px;
    transition: 0.5s;
}
.teachers .teacherholder .teacherbox .sub h5{
	margin: 0px;
    font-size: 22px;
    color: #fff;
}
.teachers .teacherholder .teacherbox:hover .sub {
	right:  0;
}
.review { 
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 50px 0px;
}
.review  h2{
	font-size: 50px;
	color: black;
	margin-right: 10px;
	display: inline-block;
	margin: 0px;
}
.review span{
	font-size: 50px;
	font-weight: bold;
	color: #85c226;
}

.review .reviewholder{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.review .reviewholder .item {
	text-align: left;
    margin-right: 20px;
    width: 100%;
    position: relative;
} 
 .reviewholder.owl-carousel .owl-nav button.owl-prev span{      position: absolute;
    position: absolute;
    left: -43px;
    top: 50%;
    transform: translate(0,-50%);
    width: 26px;
    height: 26px;
    background: none;
    color: #2628c2;
    border-radius: 50%;
    
}
 .reviewholder.owl-carousel .owl-nav button.owl-next span {     position: absolute;
    position: absolute;
    right: -43px;
    top: 50%;
    transform: translate(0,-50%);
    width: 26px;
    height: 26px;
    background: none;
    color: #2628c2;
    border-radius: 50%;
}

.review .reviewholder .item .rbox {
	display: flex;
}
.review .reviewholder .item .rbox img {
	width: 100px;
    max-height: 100px;
    border: 2px solid #a09d9d;
    border-radius: 50%;
    padding: 4px;
}
.review .reviewholder .item .rbox p {
	font-size: 15px;
    line-height: 22px;
    margin: 0px;
    margin-left: 10px;
}
.footer{
	background: #000;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: left;
    padding: 30px 0px;
}
.footer .footerleft {
	 width: 30%;
    display: inline-block;
    padding: 0px 50px;
}
.footer .footerleft .about p{
	color: #fff;
    margin: 0px;
    font-size: 17px;
    line-height: 24px;
}
.footer .footerleft ul {
	margin: 0px;
	padding: 0px;
}
.footer .footerleft ul li{
	margin: 10px 0px;
}
.footer .footerleft ul li a{
	color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.footer .footerleft .map{
	width: 40%;
}
@media (max-width: 1200px){
.container { max-width: inherit; padding: 0 20px; 
}
.header .menu1 {
    width: 63%;
}
.slider .banner .bcontent {
    position: absolute;
    width: 63%;
}
.slider .banner .bcontent h1 {
        font-size: 46px;
}
.slider .banner .bcontent span {
    font-size: 45px;
}
.aboutpart {
    padding: 27px 0px;
}
.aboutpart h2 {
    font-size: 41px;
    margin-bottom: 6px;
}
.aboutpart .aboutholder {
    margin-top: 16px;
}
.aboutpart .aboutholder .text {
    width: 51%;
}
.aboutpart .aboutholder .text p {
    font-size: 18px;
}
.aboutpart .aboutholder .video {
    width: 41%;
}
.whypart {
    padding: 15px 0px;
}
 .reviewholder.owl-carousel .owl-nav button.owl-prev span{ 
    display: none;
}
 .reviewholder.owl-carousel .owl-nav button.owl-next span { 
    display: none;
}
.review .reviewholder .item .rbox img {
    height: 80px;
    width: 80px;
}
}
@media (max-width: 1023px){
	.header {display: none;
}
.header .menu1 ul li a {
    font-size: 14px;
}
.slider .banner .bcontent {
    position: absolute;
    width: 60%;
}
.slider .banner .bcontent h1 {
    font-size: 29px;
    margin-bottom: 15px;
}
.slider .banner .bcontent span {
    font-size: 29px;
}
.slider .banner .bcontent p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 32px;
    line-height: 23px;
}
.slider .banner .bcontent .service {
    padding: 5px 11px;
    font-size: 19px;
}
.formbox .formholder form input {
    padding: 15px 17px;
}
.formbox {
    padding: 17px 0px;
}
.aboutpart .aboutholder .text h2 {
    font-size: 30px;
    margin-bottom: 8px;
}
.aboutpart .aboutholder .text {
    width: 63%;
}
.aboutpart .aboutholder .text p {
    font-size: 16px;
    line-height: 25px;
}
.aboutpart .aboutholder .video {
    width: 35%;
}
.whypart .whyholder {
    display: flex;
    justify-content: space-around;
}
.whypart h2 {
    font-size: 38px;
    margin: 0px;
    margin-bottom: 21px;
}
.whypart span {
    font-size: 40px;
}
.whypart .whyholder .whybox {
    width: 30%;
}
.whypart .whyholder .whybox img {
    width: 60px;
    margin-bottom: 12px;
}
.whypart .whyholder .whybox h3 {
    font-size: 20px;
    margin-bottom: 2px;
}
.whypart .whyholder .whybox p {
    font-size: 14px;
    line-height: 19px;
}
.whypart .whyholder .whybox .text a {
    font-size: 14px;
}
.course {
    padding: 30px 0px;
}
.course h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.course span {
    font-size: 41px;
}
.course .courseholder .cbox {
    text-align: center;
    width: 30%;
}
 .reviewholder.owl-carousel .owl-nav button.owl-prev span{ 
    display: none;
}
 .reviewholder.owl-carousel .owl-nav button.owl-next span { 
    display: none;
}
.course .courseholder .cbox {
    width: 30%;
}
.course .courseholder .cbox img {
    width: 200px;
    max-height: 165px;
    margin-bottom: 10px;
}
.course .courseholder .cbox h3 {
    font-size: 15px;
}
.course .courseholder .cbox p {
    font-size: 15px;
}
.gallery {
    padding: 20px 0px;
}
.gallery h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.gallery span {
    font-size: 41px;
}
.teachers {
    padding: 25px 0px;
}
.teachers h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.teachers span {
    font-size: 41px;
}
.review {
    padding: 40px 0px;
}
.review h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.review span {
    font-size: 41px;
}
.footer .map {
	width: 55%;
}
.footer .map iframe {
	width: 100%;
}
}
@media (max-width: 767px){
.slider .banner .bcontent {
    width: 63%;
    left: 50%;
    top: 60%;
}
.slider .banner .bcontent h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.slider .banner .bcontent span {
    font-size: 22px;
}
.slider .banner .bcontent p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 14px;
}
.slider .banner .bcontent .service {
    padding: 2px 6px;
    font-size: 12px;
}
.formbox {
    padding: 12px 0px;
}
.formbox .formholder form input {
    padding: 9px 6px;
    font-size: 10px;
}
.formbox .formholder .submit form input {
    font-size: 11px;
}
.aboutpart {
    padding: 12px 0px;
    display: inline-block;
    text-align: center;
}
.aboutpart h2 {
    font-size: 33px;
    margin-bottom: 2px;
}
.aboutpart span {
    color: #a09d9d;
    font-size: 15px;
}
.aboutpart .aboutholder {
    margin-top: 31px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.aboutpart .aboutholder .text {
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 20px;
}
.aboutpart .aboutholder .text p {
    font-size: 18px;
    line-height: 23px;
}
.aboutpart .aboutholder .video {
    width: 100%;
    height: 194px;
}
.whypart h2 {
    font-size: 30px;
}
.whypart span {
    font-size: 32px;
}
.whypart .whyholder {
    display: inline-block;
    text-align: center;
}
.whypart .whyholder .whybox {
    width: 73%;
    margin-bottom: 15px;
}
.whypart .whyholder .whybox img {
    width: 90px;
}
.whypart .whyholder .whybox h3 {
    font-size: 27px;
    margin-bottom: 8px;
}
.whypart .whyholder .whybox p {
    font-size: 20px;
    line-height: 22px;
}
.whypart .whyholder .whybox .text a {
    font-size: 20px;
}
.course {
    padding: 20px 0px;
}
.course h2 {
    font-size: 30px;
}
.course span {
    font-size: 32px;
}
.course .courseholder {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.course .courseholder .cbox {
    width: 100%;
}
.course .courseholder .cbox img {
    width: 63%;
    max-height: 194px;
    margin-bottom: 8px;
}
.course .courseholder .cbox h3 {
    font-size: 22px;
}
.course .courseholder .cbox p {
    font-size: 20px;
}
.gallery {
    padding: 15px 0px;
}
.gallery h2 {
    font-size: 30px;
}
.gallery span {
    font-size: 32px;
}
.teachers {
    padding: 20px 0px;
}
.teachers h2 {
    font-size: 30px;
}
.teachers span {
    font-size: 32px;
}
.review {
    padding: 25px 0px;
}
.review  h2 {
    font-size: 30px;
}
.review  span {
    font-size: 32px;
}
.review .reviewholder {
    margin-top: 10px;
}
.footer .footerleft {
    width: 52%;
    display: inline-block;
     padding: 0px 0px; 
}
.footer .footerleft .about p {
    font-size: 15px;
    line-height: 21px;
}
.footer .footerleft ul li {
    margin: 6px 0px;
}
.footer .footerleft ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.footer .map {
    width: 42%;
    max-height: 263px;
}
.footer .map iframe {
    width: 100%;
    height: 100%;
}
}
@media (max-width: 479px){
.slider .banner .bcontent {
    width: 78%;
}
.slider .banner .bcontent h1 {
    font-size: 16px;
    margin-bottom: 13px;
}
.slider .banner .bcontent span {
    font-size: 18px;
}
.slider .banner .bcontent p {
    font-size: 10px;
    margin-bottom: 9px;
    line-height: 11px;
}
.slider .banner .bcontent .service {
    padding: 0px 3px;
    font-size: 6px;
}
.formbox .formholder {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.formbox .formholder form input {
    padding: 6px 6px;
    font-size: 6px;
    margin-bottom: 5px;
    width: 198px;
}
.formbox {
    padding: 4px 0px;
}
.formbox .formholder .submit form input {
    font-size: 9px;
    width: 56px;
}
.aboutpart h2 {
    font-size: 22px;
    margin-bottom: 0px;
}
.aboutpart span {
    font-size: 11px;
}
.aboutpart .aboutholder {
    margin-top: 10px;
}
.aboutpart .aboutholder .text h2 {
    font-size: 23px;
    margin-bottom: 5px;
}
.aboutpart .aboutholder .text p {
    font-size: 14px;
    line-height: 20px;
}
.whypart {
    padding: 5px 0px;
}
.whypart h2 {
    font-size: 25px;
}
.whypart span {
    font-size: 26px;
}
.whypart .whyholder .whybox {
    width: 90%;
}
.whypart .whyholder .whybox img {
    width: 55px;
}
.whypart .whyholder .whybox h3 {
    font-size: 21px;
    margin-bottom: 4px;
}
.whypart .whyholder .whybox p {
    font-size: 15px;
    line-height: 19px;
}
.course {
    padding: 10px 0px;
}
.course h2 {
    font-size: 25px;
}
.course span {
    font-size: 26px;
}
.course .courseholder .cbox {
    padding: 0px 6px;
}
.course .courseholder .cbox img {
    width: 52%;
    margin-bottom: 0px;
}
.course .courseholder .cbox h3 {
    font-size: 18px;
}
.course .courseholder .cbox p {
    font-size: 15px;
}
}

	


















